RHT_OCP4_MASTER_API=https://api.ocp-ap1.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-ap1.prod.nextcle.com
RHT_OCP4_CLUSTER_ID=8671d745-ae81-4571-9b98-5091a3ffbcae
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ocp-ap1.prod.nextcle.com
RHT_OCP4_DEV_USER=swapnil-kulkarni-persistent-
RHT_OCP4_DEV_PASSWORD=8fb98a40c0b149e8b1197043e579b72a
RHT_OCP4_GITHUB_USER=coolsvap
RHT_OCP4_QUAY_USER=coolsvap
